# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

scopeName: 'source.autoconf'
name: 'Autoconf'
fileTypes: [
  'ac'
]
patterns: [
  {
    match: '#.*$'
    name: 'comment.line'
  }
  {
    match: 'AC_[A-Z_]+'
    name: 'support.function.autoconf'
  }
  {
    match: 'AM_[A-Z_]+'
    name: 'support.function.automake'
  }
  {
    match: 'PKG_[A-Z_]+'
    name: 'support.function.pkgconfig'
  }
  {
    match: '\\[[^\\]]*\\]'
    name: 'string.quoted.other'
  }
]
